:root {
    --dark-red: #b12028;
    --red: #f5333f;
    --gray: #2d2a26;

}

body {
    margin: 0;
    background-color: #04001f;
    font-family: 'Didact Gothic', sans-serif;
}

.main-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentation-container {
    display: flex;
    position: relative;
    place-items: center;
    width: 100%;
}

.presentation-container img {
    width: 60%;
}

.presentation-text {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(90deg, rgba(4,0,31,0.0) 30%, rgba(4,0,31,1) 60%);
    right: 0;
    top: 0;
    font-size: 24pt;
    color: white;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
}

.presentation-text-box h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 64pt;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 70%;
    margin-top: 1rem;
}
.presentation-text-box p {
    margin: 0;
    width: 50%;
    padding: 0;
    justify-self: center;
    text-align: initial;
}

.presentation-text-box {
    width: 100%;
    margin-right: 2cqb;
    justify-content: end;
    text-align: end;
    display: flex;
    flex-direction: column;
    place-items: end;
    justify-content: end;
}

.handshake-container {
    display: flex;
    place-items: center;
    width: 100%;
    font-size: 24pt;
}

.handshake-image {
    width: 70%;
}

.handshake-image img {
    width: 100%;
}

.handshake-text {
    width: 40%;
    margin-left: 2rem;
    color: white;
}

.handshake-text ul {
    list-style: none;
    padding: 0;
    font-size: 18pt;
}

.handshake-text ul li:before {
    content: '✓';
  }

.map-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    font-size: 24pt;
    color: white;
    align-items: center;
}

.map-container p {
    margin-bottom: 12px;
}

.footer-container {
    display: grid;
    grid-template-columns: auto;
    position: relative;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: fit-content;
    padding: 10px 0;
    background-color: var(--gray);
    color: white;
}

.foot-left {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    margin-left: 10px;
    display: flex;
    gap: 0.3rem;
}
.foot-left p {
    margin: 0;
}

.foot-center {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
}

.foot-center p {
    margin: 0;
}

.foot-right {
    grid-column: 3;
    display: flex;
    justify-content: end;
    place-items: center;
    gap: 10px;
    margin-right: 10px;
}

.foot-right img {
    width: 40px;
    height: 40px;
}

@media (max-width: 640px) {
    .presentation-container {
        position: static;
        flex-direction: column;
        gap: 12px;
    }

    .presentation-container img {
        width: 100%;
    }

    .presentation-text {
        width: 100%;
        position: relative;
        position: static;
    }

    .presentation-text-box {
        width: 80%;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .presentation-text-box h1{
        width: 100%;
        font-size: 54pt;
        padding: 0;
    }

    .presentation-text-box p {
        width: 100%;
        text-align: center;
    }

    .handshake-container {
        flex-direction: column-reverse;
    }

    .handshake-image {
        width: 100%;
    }
    
    .handshake-text {
        width: 80%;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        place-items: center;
        justify-content: center;
        gap: 24px;
    }
}